<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Autores</title>
</head>
<body ng-controller="authorController">
    <form name="authorForm" class="mt-5 mb-5">
        <h1 class="text-center">Cadastrar Autor</h1>
        <div class="mb-3">
            <label class="form-label" for="name">Nome</label>
            <input class="form-control" ng-model="author.name" id="name" name="name" type="text" placeholder="Digite o nome do autor">
        </div>
        <div class="mb-3">
            <label class="form-label" for="age">Idade</label>
            <input class="form-control" ng-model="author.age" id="age" name="age" type="number" placeholder="Digite a idade do autor">
        </div>
        <input class="btn btn-primary mt-3" type="submit" value="Cadastrar" ng-click="saveAuthor(author)">
    </form>
</body>
</html>